/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */

body { }

.h2, h2 { font-size: 36px !important; }

#header_main { border: none; }
#main { background: #FFF; }

.header_color .header_bg {
	border: none;
	outline: none;
	background-color: transparent;
}

.home-background {
	position: relative;
    margin-top: -88px;
}


.home-background > div:nth-of-type(1) {
	background: url("/wp-content/themes/enfold/images/bg_pic.png") 100% 100% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 681px;
	postion: absolute;
	top: 0;
	left: 0;
}

.home-background > div:nth-last-of-type(1) {
	background: rgba(41, 101, 154, 0.7);
	position: absolute;
	width: 100%;
	height: 681px;
	top: 0;
	left: 0;
	z-index: 1;
}

.home-background h2  {
	margin-top: 260px;
	max-width: 450px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
}

.home-background h2 > i {
	color: #1aac5a;
}

.av-main-nav > li > a {
	padding: 0 15px;
	font-size: 14px;
}

.av-main-nav > li > a,
.page_item > a {
	color: #FFF !important;
}

div.home-info {
	margin: 42px 0 0 0;
	text-align: center;
}

div.home-info p {
	letter-spacing: 1px;
	font-weight: 400;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

.hr {
    float: none;
	width: 80px;
	margin: 54px auto 60px auto;
	height: 4px;
	background: #000;
}

.cols p {
    margin: 25px 0 10px;
    color: #909090;
}

a[anchor-tag] {
	z-index: 1;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-animation: avia_fade_move_down 2s ease-in-out infinite;
	animation: avia_fade_move_down 2s ease-in-out infinite;
}

a[anchor-tag] i {
	background: url("/wp-content/themes/enfold/images/arrow_down.png") no-repeat;
	width: 35px;
	height: 19px;
	display: inline-block;
}

/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}